*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gradient-start:hsl(236, 72%, 79%);
    --gradient-end:hsl(237, 63%, 64%);
    --VLgrayish-blue:hsl(240, 78%, 98%);
    --Lgrayish-blue:hsl(234, 14%, 74%);
    --grayish-blue:hsl(233, 13%, 49%);
    --Dgrayish-blue:hsl(232, 13%, 33%);
}


body{
    background-color: var(--VLgrayish-blue);
    font-family: 'Montserrat', sans-serif;
    background-image:
     url('images/bg-top.svg');
    background-repeat: no-repeat;
    background-position-x: 150px ;
}

fieldset {
	border: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 3.5rem 3.5rem;
}

h1{
    font-size: 1.8rem;
    color: var(--grayish-blue)
}

.toggle{
    margin-top: 2.5rem;
}

label{
    display: inline-block;
    padding: 0rem 1.2rem;
    color: var(--Lgrayish-blue);
    cursor: pointer;
}

.toggle-wrapper{
    font-size: var(--baseSize);
	display: inline-block;
	vertical-align: middle;
	width: 3.25rem;
	height: 2rem;
	border-radius: 3.5rem;
	position: relative; 
    overflow: hidden;
}

input[type='radio']{
    display: inline-block;
    margin-right: -2px;
    top: 0;
    bottom: 0;
    height: 30px;
    min-width: 30px;
    width: auto;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 100%;
    opacity: 0;
}


.toggle-switcher{
    position: absolute;
    top: 50%;
    left: 17px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    transition: all 150ms ease-in-out;
}

.toggle-background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        to left,
        var(--gradient-start),
        var(--gradient-end) 
    );
}

input[type='radio']:nth-child(0){
    left: 0;
}

input[type='radio']:nth-child(1){
    right: 0;
}

input[type='radio']:focus-visible ~ .toggle-switcher{
    border: 1px dashed black;
}

#Monthly:checked ~ .toggle-switcher{
    left: 35px;
}

input[type='radio']:not(:checked) {
    z-index: 2;
  }


main{
    padding-block: 1rem 4rem;
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 15px 0px hsla(0, 0%, 0%,.25);
    border-radius: 10px;
    width: 100%;
    max-width: 343px;
}

h2{
    font-size: 1rem;
    padding-block: 1.75rem .75rem;
    color: var(--grayish-blue);
}

output{
    font-size: 4.75rem;
    color: var(--Dgrayish-blue);
    padding-block: .15rem 1rem;
}

output > *{
    display: inline-block;
    font-size:2.5rem;
    transform: translateY(-10px);
    padding-bottom: 1rem;
}
ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    text-align: center;
    padding-block: .9rem;
    width: 85%;
    border-top: 1px solid var(--Lgrayish-blue);
    color: var(--grayish-blue);
    list-style: none;
}

.info:nth-of-type(3){
    border-bottom: 1px solid  var(--Lgrayish-blue);
}

button{
    width: 85%;
    padding: .9rem;
    border: none;
    outline: none;
    text-decoration: none;
    margin-block: 2rem;
    border-radius: 5px;
    background-image: linear-gradient(
        to right,
        var(--gradient-start),
        var(--gradient-end) 
    );
    color: white;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .75rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    transition: all 250ms ease-in-out ;
    cursor: pointer;
    outline: 2px dashed transparent;
}

button:hover{
    opacity: .75;
}

button:focus-visible{
    outline: 2px dashed black;
    opacity: .75;
}

.card-container:nth-of-type(2){
    background-image: linear-gradient(
        var(--gradient-start),
        var(--gradient-end) 
    );
}
.card-container:nth-of-type(2) > *{
    color: white;
}
.card-container:nth-of-type(2) ul > *{
    color: white;
}
.card-container:nth-of-type(2) .info{
    border-top: 1px solid rgba(255, 255, 255, 0.75);
}

.card-container:nth-of-type(2)
.info:nth-of-type(3){
    border-bottom: 1px solid  rgba(255, 255, 255, 0.75); 
}

.card-container:nth-of-type(2) button{
    color:var(--gradient-end);
    background-image: none;
    background-color: white;
}
@media screen and (min-width:349px) {
    body{
        background-position-x: 175px ;
    }
}
@media screen and (min-width:600px) {
    body{
        background-position-x: 500px ;
    }
}
@media screen and (min-width:1000px) {
    body{
        min-height: 100vh;
        background-image:
        url('images/bg-top.svg'),
        url('images/bg-bottom.svg');
        background-repeat: no-repeat;
        background-position-x: 700px, 0px ;
        background-position-y: 00px, 700px ;
    }
    main{
        flex-direction: row;
        gap: 0;
    }
    .card-container:nth-of-type(1){
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .card-container:nth-of-type(3){
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .card-container:nth-of-type(2){
        padding-block: 1.75rem;
    }
}

@media screen and (min-width:1200px){
    body{
        background-position-x: 1200px, 0px ;
        background-position-y: 00px, 700px ;
    }
}

.hide{
    transition: all 200ms ease-in-out;
    opacity: 0;
}
.unhide{
    transition: all 200ms ease-in-out;
    opacity: 1;
}